@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Inicio de sesión no autorizado";
}

<hgroup>
    <h1 class="text-danger">¡Error!</h1>
    <h2 class="text-danger">Esta cuenta no tiene permitido el acceso, contacte al administrdor.</h2>
</hgroup>
