@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron bg-info" >
        <div class="container">
            <h1>FILEIDS</h1>
            <p class="lead">Sistema de control de versiones</p>
            <hr class="my-4">
            <p>Numeros de parte, previsualización, control de versiones y respaldo aqui</p>
            <p class="lead">
        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Registro de archivos</h2>
        <p>
            Registra un nuevo archivo para control de versiones y visualización.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Registro de archivos", "About")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lista archivos existentes</h2>
        <p>Accede a la lista de archivos registrados en el sistema y sus versiones</p>
        <p><a class="btn btn-default" @Html.ActionLink("Listado", "About")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Historial y versiones</h2>
        <p>Accede al historial de versiones de los archivos</p>
        <p><a class="btn btn-default" @Html.ActionLink("Historial y versiones", "About")</a></p>
    </div>
</div>