@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron bg-info" >
        <div class="container">
            <h1>FILEIDS</h1>
            <p class="lead">Sistema de control de versiones</p>
            <hr class="my-4">
            <p>Numeros de parte, previsualización, control de versiones y respaldo aqui</p>
            <p class="lead">
        </div>
    </div>

