@model IEnumerable<FILEIDSMVC.Models.ProyectosModel>

@{
    ViewBag.Title = "Directorios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>PANTALLA PRINCIPAL CON BALDOSAS/TILES</h1>
}
else
{
    Context.Response.Redirect("/Account/Login");
}


