
@{
    ViewBag.Title = "ViewFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-success">El archivo ha sido exitosamente registrado!</h2>
<br />
<br />
<br />

<div>
    @Html.ActionLink("Volver", "Index")
</div>

