@model FILEIDSMVC.Models.DesignReviewModel

@{
    ViewBag.Title = "DesignReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DesignReview</h2>

<div>
    <h4>DesignReviewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProyecto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
